/* =================<text>================= */
p{
    color: var(--color_text);
}
button:hover{
    box-shadow: 0px 0px 7px 3px #c5c8ca;
}
.encyclopedia i:hover{
    color: #2671BD;
}
:root{
   --color_text:#ffffffCC;
   --font-family_text:'Yuji Mai', serif;
   --font-size_22:18px;
   --border-top_gray:3px solid  #c5c8ca;
   --border-left_gray:3px solid  #c5c8ca;
   --border-right_gray:3px solid  #858788;
   --border-bottom_gray:3px solid  #858788;
   --border_all:var(--border-top_gray) var(--border-right_gray) var(--border-bottom_gray) var(--border-left_gray);
}
body{
    background-color: rgb(0, 0, 0);
    padding: 0.4% 0 0 0;
}
h1{
    display: none;
    /* font-size: 0; */
    color: #ffffff;
    position: absolute;
}
h2{
    font-family:'Abhaya Libre', serif;
    font-weight: 900;
    color: #ffffffBF;
    font-size: 32px;
    text-align: center;  
    text-shadow:0.2em 0.2em 0.2em #000000;  
}
.nav_background{
    position: absolute;
    height: 67px;
    top: 0;
    left: 0;
    z-index: -20;
}
.section{
    width: 100%;
}
.content{
    width: 72%;
    margin: auto;
    padding-bottom: 100px;
}
/* =================<header>================= */
body{
    position: relative;
}
.header{
    width: 100%;
    position: relative;
}
#myVideo{
    z-index: 7;
}
.nav_background{
    z-index: 6;
    position: fixed;
    top: -10px;
}
.top_color{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10
}
header>video{
    width: 100%;
    /* height: 720px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.navigation_bar{
    position: fixed;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4%;
    z-index: 11;
}
.main_manu{
    display: flex;
    /* flex-direction: row; */
    width: 40%;
    /* text-align: right; */
    /* padding-left: 50px; */
    margin-left: 30%;
}
.main_manu a{
    color:var(--color_text);
    font-family:var(--font-family_text);
    font-size: var(--font-size_22);
    margin: 0 15px 0 15px;
    display: inline-block;
    text-decoration: none;
}
.main_manu a:hover{
    color: #2671BD;
}
.login i{
    color: rgb(255, 255, 255,0.01);
    -webkit-text-stroke: 1.5px hsla(0,0%,100%,.8);
    font-size: 18px;
    margin: 10px;
}
.login i:hover{
    -webkit-text-stroke:1.5px #2671BD;
}
/* =================<latest_movie>================= */
.latest_movie{
    width: 100%;
    height: 660px;
    padding-top: 550px;
    box-sizing: border-box;
}
.movie_play{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin:auto;
    align-items: center;
}
.movie_play>button{
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5));
    width: 50px;
    height: 50px;
    background-color: #10181F;
    color: #2671BD;
    font-size: 24px;
    border-radius: 26px;
    border: 2px solid #143c64;
    font-weight: 600;
}
button{
    width: 130px;
    border-radius: 26px;
    color: var(--color_text);
    font-family: var(--font-family_text);
    font-size: var(--font-size_22);
    /* background-color: rgba(66, 57, 196, 0.4); */
    margin: 15px;
}
.focus_control{
    z-index: 13;
    margin-left: 5%;
}
.focus_control button:first-child{
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5));
    /* background-color: #583F0C; */
    border: 3px solid #605235;
    background:linear-gradient(to bottom, #090805, #583F0C);
}
.focus_control button:nth-child(2){
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5));
    /* background-color: #583F0C; */
    border: 3px solid #2671BD;
    background:linear-gradient(to bottom, #10181F, #032D57);
}
/* ===============<browse latest>=============== */
.browse_latest{
    position: relative;
    width: 100%;
    padding-top: 70px;
}
.browse_latest div{
    padding: 20px 0 20px 0;
}
.browse_latest>img{
    position: absolute;
    display: inline-block;
    /* padding: 30px; */
    top: 45px;
    left: 0;
    width: 100%;
    z-index: -1;
}
.search{
    position: relative;
}
.search input{
    width: 150px;
    height: 30px;
    border-radius: 24px;
    background-color: #ffffffB2;
    border: 2px solid #fff;
}
.search>i{
    position: absolute;
    left: 1%;
    top: 39%;
    font-size: 23px;
    color: rgb(255, 255, 255);
}
.product_item{
    padding: 15px 0 15px 0;
    position: relative;
}
.encyclopedia{
    width: 100%;
    margin: auto;
    padding: 30px 0px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.encyclopedia i{
    color: #ffffffB2;
    display: block;
    font-size: 36px;
    margin: 0 20px 0 10px;
}
.encyclopedia img{
    width: 65%;
    display: block;
}
.explain{
    position: relative;
    margin: auto;
    width: 90%;
    color: var(--color_text);
    border-top: var(--border-top_gray);
    border-right: var(--border-right_gray);
    border-bottom: var(--border-bottom_gray);
    border-left:var(--border-left_gray) ;
    border-radius: 30px; 
    z-index: 3;
    overflow: hidden;
    /* border-color: linear-gradient(to bottom, #10181F, #032D57);
    background-color: #2671BD; */
}
*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.explain::before{
    content: '';
	position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    /* background-repeat: no-repeat; */
    background-image: conic-gradient(#ffffff, #000000, #000000,#ffffff);
    animation: rotate 13s linear infinite;
}
.explain::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 3px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

.explain p{
    padding: 0 30px 0 30px;
    margin: 10px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    display: block;
    font-size: 20px;
    font-weight: 700;
    z-index: 99;
}
h3{
    font-family:'Abhaya Libre', serif;
    font-weight: 900;
    color: #ffffffBF;
    font-size: 26px;
    text-align: center;  
}
.product_item button{
    border: 3px solid #605235;
    background:linear-gradient(to bottom, #090805, #583F0C);
    font-family:'Abhaya Libre', serif;
    font-size: 16px;
    text-shadow: 0.2em 0.2em 0.2em black;
    position: absolute;
    right: 10%;
    bottom: 8.5%;
    z-index: 99;
}
/* =============<latest_information>============= */
.latest_information h2{
    line-height: 15px;
    background:linear-gradient(to bottom, #10181F, #032D57);
}
.latest_information{
    padding-top: 8%;
    position: relative;
}
.latest_information img:last-child{
    width: 100%;
    height:80%;
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    z-index: -100;
}
.news_place{
    display: flex;
    width: 90%;
    margin: auto;
    /* padding:30px; */
    position: relative;
}
.news_place p{
    color: var(--color_text);
}
.news_place img{
    width: 70%;
    border-radius: 24px;
    display: block;
    margin: auto;
    box-shadow: 15px -5px 15px rgb(0, 0, 0);
    justify-content: space-around;
}
.hall,.under_water,.eyewitess{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 30px;
    transform: scale(1);
    transition: ease 1s;
}
.hall:hover,.under_water:hover,.eyewitess:hover{
    box-shadow: 0px 0px 25px 20px  rgba(0, 0, 0, 0.6),0px 0px 50px 100px inset rgba(10, 10, 10, 0.6);
    /* box-shadow: 5px 5px 25px 20px inset rgb(255, 255, 255,0.5); */
    border-radius: 24px;
    /* border: 1px dashed #858788; */
    transform: scale(1.03);
}
.under_water{
    padding-top: 50px;
}
.nthdouble_news{
    display: flex;
    width: 100%;
    padding: 50px;
}
.hall,.under_water{
    padding-top: 40px;
}
/* .main_news{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
} */
.news_detail{
    width: 78%;
    margin: auto;
    line-height: 30px;
    padding-top: 10px;
    text-shadow: 5px -5px 3px #000000;
}
h3{
    line-height: 35px;
}
.eyewitess{
    height: 90%;
    margin-top: 20px;
    padding-top: 30px;
}
.news_place button{
    border: 3px solid #2671BD;
    background:linear-gradient(to bottom, #10181F, #032D57);
    font-family:'Abhaya Libre', serif;
    font-size: 16px;
    text-shadow: 0.2em -0.2em 0.2em black;
    position: absolute;
    right: 5%;
    bottom: -10%;
    filter: drop-shadow(5px -8px 6px rgba(0, 0, 0, 0.5));
}
/* ===========<latest_popular_ranking>=========== */
.latest_popular_ranking{
    position: relative;
}
.latest_popular_ranking .content{
    padding-top: 10rem;
}
.latest_popular_ranking>img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -0.3%;
    top: -0.3%;
    z-index: -100;
    transform: rotate(0.2deg);
    
}
.ranking_star_area{
    display: flex;
    flex-direction: row;
    margin: 80px;
}
.ranking_area{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    height: 50%;
}
.ranking_area img:last-child{
    position: absolute;
    top: 17%;
    right: -10%;
    width: 110%;
    height: 70%;
    transform: rotate(-3deg);
    z-index: -1;
}
.ranking_area img{
    display: inline-block;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    transform: scale(1);
    transition: ease 0.5s;
}
.rank_pic:hover{
    box-shadow: 0 0 20px 10px #ffffff80;
    transform: scale(1.03);
}   
.p1{
    /* width: 15rem;
    height: 15rem; */
    margin-top: 4rem;
    /* position: absolute; */
    width: 300px;
}
.p2{
    margin-left: 20rem;
    margin-bottom: 4rem;
}
.p3{
    margin-left: 20rem;
    margin-bottom: 1rem;
}
.p5{
    margin-left: 20rem;
    margin-bottom: 1rem;
}
.p6{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.p7{
    margin-left: 20rem;
    /* margin-bottom: 32rem; */
} 
.sequence{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sequence button{
    border: 3px solid #2671BD;
    background:linear-gradient(to bottom, #10181F, #032D57);
    font-family:'Abhaya Libre', serif;
    font-size: 16px;
    text-shadow: 0.2em -0.2em 0.2em black;
    position: absolute;
    right: 5%;
    bottom: 2%;
    filter: drop-shadow(5px -8px 6px rgba(0, 0, 0, 0.5));
}
.rank{
    /* height: 5%; */
    width: 60%;
    font-size: 28px;
    font-weight: 600;
    color: var(--color_text);
    text-align: center;
    border-top: var(--border-top_gray);
    border-right: var(--border-right_gray);
    border-bottom: var(--border-bottom_gray);
    border-left:var(--border-left_gray) ;
    border-radius: 20px; 
    line-height: 60px;
    margin: 2.5rem;
    transform: scale(1);
    transition: ease 1s;
    /* position: absolute; */
}
.rank:hover{
    box-shadow: 0 0 20px 10px #c5c8ca80 ;
    transform: rotate(3deg);
}
.t2 ,.t6{
    margin-left: 5rem;
}
.t3, .t5{
    margin-left: 7rem;
}
.t4{
    margin-left: 9rem;
}

/* =========<footer>========== */
footer{
    padding-top: 10rem;
    position: relative;
    width: 100%;
}
footer >img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -100 ;
}
.footer_detail{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 80px;
}
.footer_detail .logo{
    width: 130px;
    height: 67px;
}
.footer_detail h2{
    font-family: var(--font-family_text);
    font-weight: 500;
}
.footer_detail div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_detail div a{
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: var(--color_text);
    font-family: var(--font-family_text);
}
.copyright p{
    line-height: 20px;
    color: var(--color_text);
    text-align: center;
}
/* =============<<forum>>================ */
