:root{
   --color_text:#ffffffCC;
   --font-family_text:'Yuji Mai', serif;
   --font-size_22:18px;
   --border-top_gray:3px solid  #c5c8ca;
   --border-left_gray:3px solid  #c5c8ca;
   --border-right_gray:3px solid  #858788;
   --border-bottom_gray:3px solid  #858788;
   --border_all:var(--border-top_gray) var(--border-right_gray) var(--border-bottom_gray) var(--border-left_gray);
}
.forum_dreamer{
    background-image: url(../pic/bcg3.jpg);
    padding: 0.4% 0 0 0;
}
.product_overview{
    background-image: url(../pic/bcg3.jpg);
    padding: 0.4% 0 0 0;
}
h1{
    display: none;
    /* font-size: 0; */
    color: #000000;
    position: absolute;
}
h2{
    font-family:'Abhaya Libre', serif;
    font-weight: 900;
    color: var(--color_text);
    font-size: 28px;
    text-align: center;
    z-index: 50; 
    margin-bottom:30px;   
}
h3{
    color: var(--color_text);
    font-family:'Abhaya Libre', serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 30px;
}
p{
    color: var(--color_text);
    line-height: 25px;
}
.nav_background{
    position: absolute;
    height: 67px;
    top: 0;
    left: 0;
    z-index: -20;
}
.section{
    width: 100%;
}
.content,.contents{
    padding-top: 100px;
    width: 72%;
    margin: auto;
}
/* =================<header>================= */
body{
    position: relative;
}
.header{
    width: 100%;
    position: relative;
}
#myVideo{
    z-index: 7;
}
.nav_background{
    z-index: 6;
    position: fixed;
    top: -10px;
}
.top_color{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10
}
header>video{
    width: 100%;
    /* height: 720px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.navigation_bar{
    position: fixed;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4%;
    z-index: 11;
}
.main_manu{
    display: flex;
    /* flex-direction: row; */
    width: 40%;
    /* text-align: right; */
    /* padding-left: 50px; */
    margin-left: 30%;
}
.main_manu a{
    color:var(--color_text);
    font-family:var(--font-family_text);
    font-size: var(--font-size_22);
    margin: 0 15px 0 15px;
    display: inline-block;
    text-decoration: none;
}
.main_manu a:hover{
    color: #2671BD;
}
.login i{
    color: rgb(255, 255, 255,0.01);
    -webkit-text-stroke: 1.5px hsla(0,0%,100%,.8);
    font-size: 18px;
    margin: 10px;
}
.login i:hover{
    -webkit-text-stroke:1.5px #2671BD;
}
/* =========<footer>========== */
footer{
    padding-top: 10rem;
    position: relative;
    width: 100%;
    z-index: 1;
}
footer >img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -100 ;
}
.footer_detail{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 80px;
}
.footer_detail .logo{
    width: 130px;
    height: 67px;
}
.footer_detail h2{
    font-family: var(--font-family_text);
    font-weight: 500;
}
.footer_detail div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_detail div a{
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: var(--color_text);
    font-family: var(--font-family_text);
}
.copyright p{
    line-height: 20px;
    color: var(--color_text);
    text-align: center;
}
/* =============<<forum>>================ */
.category{
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: 15px;
}
.category li a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--color_text);
    font-size: 22px;
    border-radius: 10px 100px / 120px;
    border: 1px solid #0e6394b2;
}
.hot_comment{
    display: flex;
}
.hot_comment li{
    width: 20%;
    background-image:url(../pic/AVALON.png);
    border: 1px solid #ffffffB2;
    margin: 15px;
    border-radius: 10px 100px / 120px;
}
.hot_comment img{
    width: 50%;
    display: block;
    margin: auto;;
    border-radius:100% 100% 100% 100% / 100% 100% 0% 100% 
}
.artical a{
    text-decoration: none;
    position: relative;
}
.artical a:hover{
    color:#7eb8f1;
}
.artical a::before{
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#fff 5%,rgb(0, 0, 0) 100%);
    position: absolute;
    right: 0;
    bottom: -10px;
    animation: go2 3.5s infinite cubic-bezier(0.57, 0.35, 0.45, 0.69);
}
.hot_artical::after,.my_artical::after{
    content: '';
    width: 0%;
    height: 3px;
    background: linear-gradient(to left,#fff 5%,rgb(0, 0, 0) 100%);
    position: absolute;
    left: 0;
    bottom: -10px;
    animation: go 3.5s infinite alternate cubic-bezier(0.57, 0.35, 0.45, 0.69);
}
.tatal_artical::after{
    content: '';
    width: 0%;
    height: 3px;
    background: linear-gradient(to left,#fff 10%,rgb(133, 133, 133) 100%);
    position: absolute;
    left: 0;
    bottom: -10px;
    animation: go 5s infinite alternate cubic-bezier(0.57, 0.35, 0.45, 0.69);
}

@keyframes go{100%{width: 100%;};}
@keyframes go2{100%{width: 100%;};}
.hot_comment p{
    line-height: 25px;
}

/* ==============<<ad>>==================== */
.ad{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
.comment{
    position: relative;
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.artical{
    background-image: url(../pic/footercolor.png);
    padding: 40px;
}
.artical li{
    padding: 20px;
}
.artical a{
    text-decoration: none;
    color: var(--color_text);
}
.artical i{
    margin-right: 20px;
    font-size: 20px;
}
.human_comment{
    width: 70%;
}
.human_comment img{
    width: 15%;
    border-radius: 100% ;
    display: inline-block;
    /* position: absolute; */
    z-index: 5;
}
.comment_detail{
    display: flex;
    justify-content: space-around;
    /* background-color: #f03a3a; */
    margin: 30px;
}
.comment_detail:hover{
    box-shadow: 0 0 20px 10px #313131b2,0 0 20px 10px inset #424242b2;
    border-radius: 24px;
}
.comment_detail_talk{
    flex-grow: 1;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 0.5px solid rgb(255, 255, 255); */
    border-bottom :1px dashed #ffffffB2;
}
/* ========<<product_overview>>============== */
.product_banner{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.product_banner>img{
    display: block;
    width: 100%;
}
.product_banner:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow:0 0 50px 30px #000000 inset;
}

/* =============<<hot_item>>================ */
.hot_gamesh2{
    position: relative;
    width: 10%;
    margin: auto;
    margin-bottom: 25px;
}
.hot_gamesh2::before{
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(to left,rgb(116, 116, 116) 10%,rgb(0, 0, 0) 100%);
    position: absolute;
    right: 0;
    bottom: -10px;
    animation: h2go 5s infinite cubic-bezier(0.57, 0.35, 0.45, 0.69);
}
.hot_gamesh2::after{
    content: '';
    width: 0%;
    height: 3px;
    background: linear-gradient(to right,rgb(128, 128, 128) 10%,rgb(58, 58, 58) 100%);
    position: absolute;
    left: 0;
    bottom: -10px;
    animation: h2go2 5s infinite alternate cubic-bezier(0.57, 0.35, 0.45, 0.69);
}
@keyframes h2go{100%{width: 100%;};}
@keyframes h2go2{100%{width: 100%;};}
.hot_games{
    padding-top: 50px;
    background-color: #014820;
    border: 10px solid  #74461B;
    box-shadow:  2px 2px 10px 5px #000000 inset;

}
.hot_games h3{
    border-radius: 24px;
    display: inline-block;
    margin: 10px 10px 50px 50px;
    /* background:linear-gradient(to bottom, #10181F, #032D57); */
    /* border: 2px solid #2671BD; */
    padding: 10px 10px 3px 10px;
}
.hot_games i{
    margin: 10px;
}
.item_touch{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.item_games{
    width: 25%;
    border-radius: 22% 32% 28% 32% / 29% 31% 23% 33%
    ;
    position: relative;
}
.item_games::after{
    content: '人數:7-8人分鐘 \A 遊玩時間:30分鐘 \A 售價:550元';
    white-space: pre-line;
    position: absolute;
    top: 18%;
    left: 15%;
    color: #c5c8ca;
    background:linear-gradient(to bottom, #54566300,#020507 ,#020507);
    text-align: center;
    width: 70%;
    line-height: 30px;
    padding:35px 0 20px 0;
    border-radius: 3% 3% 28% 32% / 29% 31% 23% 33%;
    z-index: -1;
    transition: ease-in-out 0s -1s;
}
.item_games img{
    border-radius: 22% 32% 28% 32% / 29% 31% 23% 33%
    ;
    width: 70%;
    height: 85%;
    margin: auto;
    display: block;
    box-shadow: 3px 3px 10px 0.5px #000;
}
.item_games:hover.item_games::after{
    z-index: 1;
}
/* ========<<Category_catalog>>============= */
.contents ul{
    display: flex;
    margin: 15px;
}
.contents a{
    text-decoration: none;
    color: var(--color_text);
    margin: 15px;
    font-size: 22px;
    display: inline-block;
}
.contents ul{
    justify-content: center;
    display: flex;
    background:linear-gradient(to bottom,#032D57, #10181F,#10181F, #032D5733);
    width: 99%;    
    border-radius: 24px;
    flex-wrap: wrap;
}
.Classification:hover,.how_many:hover{
    background-color: #3f91e433;
}
.Classification:hover a,.how_many:hover a{
    color: #82bbf3;
}

.product_card{
    display: inline-block;
    width: 99%;
    align-items: center;
}
.product_card li{
    overflow: hidden;
    width: calc(100% / 3 - 30px);
    margin: 0 15px 0 15px;
}
.item_detail_card img{
    width: 100%;
}
.item_detail_card p{
    line-height: 25px;
    font-size: 18px;
}
.item_detail_card h2{
    line-height: 25px;
    font-size: 22px;
    margin-top: 15px;
}
.product_card li:nth-child(3n-2){
    margin-top: -80px;
}
.product_card li:nth-child(3n-1){
    /* position: relative; */
    margin-top: 120px;
}
.product_card li:nth-child(3n){
    margin-top: -100px;
}
.item_detail_card:hover{
    box-shadow: 0 0 10px 10px #a1aa4f33, 0 0 10px 10px inset #a1aa4f33;
    border-radius: 24px;
}


